<h3>Compras</h3>

<p>
  <a routerLink="/shipping">Visualizar Taxas de Envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.nome }}</span>
  <span>{{ item.precoUnitario | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit($event)">
  <div>
    <label for="clienteId"> Id do Cliente </label>
    <input #clienteId id="clienteId" type="text" formControlName="clienteId" />
  </div>

  <button class="button" type="submit">Enviar</button>
</form>
